.btn-spacing{
    margin-top:5px;
}

.form-margin-top{
    margin-top:30px;
}

.form-spacing-top{
    margin-top:30px;
}

.comment{
    margin-bottom: 35px;
}

.auteur-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.auteur-name {
    float: left;
    margin-left: 15px ;
}

.auteur-name>h4{
    margin: 5px 0px;
    
   
}

.auteur-time{
    font-size: 11px;
    font-style: italic;
    color: grey;
}

.comment-content{
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
}

.comment-title{
    margin-bottom: 45px;
}

.post-category{
    font-size: 15px;
    font-weight: bold;
    font-style:  italic;
    color:grey;
}

